<header class="header f-gap2">
  <span class="f-gap2">
    <a [routerLink]="['']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a *ngIf="authService.isLoggedIn" [routerLink]="['admin']" routerLinkActive="router-link-active" >Admin</a>
  </span>

  <span *ngIf="authService.isLoggedIn" class="f-gap2">
    <span>{{authService.getUserEmail()}}</span>
    <button (click)="logout()">Logout</button>
  </span>

  <span *ngIf="!authService.isLoggedIn" class="f-gap2">
    <a [routerLink]="['login']" routerLinkActive="router-link-active">Login</a>
    <a [routerLink]="['register']" routerLinkActive="router-link-active">Registrarse</a>
  </span>

  <!-- <app-modal-button [modal]="loginModal"> Login Modal</app-modal-button> -->

</header>
<div class="page">
  <router-outlet></router-outlet>
</div>
<!-- <app-modal #loginModal>
  <app-login></app-login>
</app-modal> -->

<footer class="footer">Soy un footer</footer>
